@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .header-nav .header-nav_item:hover a::after {
        @apply  !w-full !opacity-100;
    }

    .test {
        @apply hidden animate-fadeIn
    }

    
    .afterStyle {
        @apply after:content-[""] after:absolute after:bottom-[-2px] after:left-0 after:right-0 after:w-0 after:h-[1px] after:opacity-0 after:transition-all after:duration-500 after:ease-in
    }

    .default-transition {
        @apply transition-all duration-500 ease-linear
    }
}

.box-check input:checked ~ .checkmark::after {
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

.checkmark::after {
    left: 6px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cart-action-btn::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: background-color .2s;
    z-index: 0;
    opacity: 0.5;
}

.bg-linear-1 {
    background-image: linear-gradient(135deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
}


/* .panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 470px;
    max-width: 100%;
    margin: 0;
    background-color: var(--rz-background-color-light);
    transform: translateX(100%);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 470px;
    max-width: 100%;
    margin: 0;
    background-color: var(--rz-background-color-light);
    transform: translateX(100%);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
} */

.cart-container::-webkit-scrollbar-thumb  {
    background-color: #1f1f1f;
}

.cart-container::-webkit-scrollbar {
    width: 2px;
}

.cart-container::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}


a:hover {
    color: inherit;
}

/* header nav */