@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .header-nav .header-nav_item:hover a::after {
        @apply  !w-full !opacity-100;
    }

    .test {
        @apply hidden animate-fadeIn
    }

    
    .afterStyle {
        @apply after:content-[""] after:absolute after:bottom-[-2px] after:left-0 after:right-0 after:w-0 after:h-[1px] after:opacity-0 after:transition-all after:duration-500 after:ease-in
    }

    .default-transition {
        @apply transition-all duration-500 ease-linear
    }

    .active_one {
        @apply after:!bg-primary after:w-full after:opacity-100 text-primary
    }
}

.box-check input:checked ~ .checkmark::after {
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

.action-ntn:nth-child(2) {
    transition-delay: 75ms;
}

.action-ntn:nth-child(3) {
    transition-delay: 100ms;
}

.action-ntn-before::before {
    content: attr(datatype) !important;
    position: absolute;
    top: -40px;
    background-color: #000;
    display: inline-block;
    white-space: nowrap;
    padding: 6px 12px 7px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1;
    display: none;
    transition: none !important;
    pointer-events: none;
    z-index: 9;
    color: white;
}
.action-ntn::after {
    content: attr(datatype) !important;
    position: absolute;
    top: -40px;
    background-color: #000;
    display: inline-block;
    white-space: nowrap;
    padding: 6px 12px 7px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1;
    display: none;
    transition: none !important;
    pointer-events: none;
    z-index: 9;
    color: white;
}

.action-ntn-before::after {
    content: "";
    display: none;
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    top: 3px;
    transform: rotate(-90deg);
    right: 20px;
    
}

.action-ntn::before {
    content: "";
    display: none;
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    top: -15px;
}
.action-ntn-before:hover::after,
.action-ntn:hover::before {
    display: inline-block;
}

.action-ntn-before:hover::before,
.action-ntn:hover::after {
    display: inline-block;
}

.checkmark::after {
    left: 6px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cart-action-btn::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: background-color .2s;
    z-index: 0;
    opacity: 0.5;
}

.bg-linear-1 {
    background-image: linear-gradient(135deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
}



.cart-container::-webkit-scrollbar-thumb  {
    background-color: #1f1f1f;
}

.cart-container::-webkit-scrollbar {
    width: 2px;
}

.cart-container::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}


a:hover {
    color: inherit;
}

.slick-dots li button:before {
    font-size: 10px!important;
}

.slick-dots li.slick-active button:before {
    color: #FF6F61!important;
    z-index: 99;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    color: #FF6F61!important;

}


.slick-dots li {
    margin:0 0!important;
}


/* header nav */